Repository raidprotect/raidprotect, pull requests merged in 2022-08, with the labels that each got.

#127 feat(message): information for old commands
  raidprotect/locales/en.json
  raidprotect/locales/fr.json
  raidprotect/src/event/message/handle.rs
Labels: t-feature, c-translations, c-event

#131 deps: update to latest chrono
  Cargo.lock
  web/Cargo.toml
Labels: c-dependencies

#130 chore: update debug configuration
  .vscode/launch.json
Labels: t-chore

#128 feat: captcha configuration commands
  model/src/cache/model/guild.rs
  model/src/cache/permission.rs
  model/src/mongodb/guild.rs
  raidprotect/locales/en.json
  raidprotect/locales/fr.json
  raidprotect/src/interaction/command/config/captcha.rs
  raidprotect/src/interaction/command/config/mod.rs
  raidprotect/src/interaction/command/mod.rs
  raidprotect/src/interaction/embed/captcha.rs
  raidprotect/src/interaction/embed/mod.rs
  raidprotect/src/interaction/handle.rs
  raidprotect/src/interaction/util.rs
Labels: t-feature, c-cache, c-interaction, c-translations

#134 feat: cache voice channels
  model/src/cache/model/channel.rs
  model/src/cache/model/mod.rs
  model/src/cache/process/event.rs
  model/src/cache/process/resource.rs
Labels: t-feature, c-cache

#132 feat(interaction): enable captcha button
  model/src/mongodb/client.rs
  raidprotect/locales/en.json
  raidprotect/locales/fr.json
  raidprotect/src/interaction/command/config/captcha.rs
  raidprotect/src/interaction/component/captcha/enable.rs
  raidprotect/src/interaction/component/captcha/mod.rs
  raidprotect/src/interaction/component/mod.rs
  raidprotect/src/interaction/embed/captcha.rs
  raidprotect/src/interaction/handle.rs
Labels: t-feature, c-interaction, c-translations

#135 feat: use localazy for translations
  .github/workflows/localazy-download.yml
  .github/workflows/localazy-upload.yml
  .gitignore
  .vscode/settings.json
  CONTRIBUTING.md
  localazy.json
  raidprotect/build.rs
  raidprotect/src/event/message/handle.rs
  raidprotect/src/interaction/embed/error.rs
  raidprotect/src/interaction/embed/kick.rs
  raidprotect/src/interaction/handle.rs
  raidprotect/src/main.rs
Labels: t-feature, c-interaction, c-event

#137 ci: disable localzy download
  .editorconfig
  .github/workflows/localazy-download.yml
  README.md
  localazy.json
  raidprotect/locales/en.json
  raidprotect/locales/fr.json
Labels: t-actions, c-translations

#138 feat: configure permissions for captcha role
  .vscode/settings.json
  model/src/cache/http.rs
  raidprotect/locales/fr.json
  raidprotect/src/interaction/component/captcha/enable.rs
  raidprotect/src/interaction/handle.rs
  raidprotect/src/util/logs_channel.rs
Labels: t-feature, c-cache, c-interaction, c-translations

#139 feat: disable captcha button
  raidprotect/locales/fr.json
  raidprotect/src/interaction/component/captcha/disable.rs
  raidprotect/src/interaction/component/captcha/enable.rs
  raidprotect/src/interaction/component/captcha/mod.rs
  raidprotect/src/interaction/handle.rs
Labels: t-feature, c-interaction, c-translations

#140 deps: upgrade to twilight 0.13
  Cargo.lock
  model/Cargo.toml
  model/src/cache/model/channel.rs
  raidprotect/Cargo.toml
  raidprotect/src/interaction/response.rs
  web/Cargo.toml
Labels: c-dependencies, c-cache, c-interaction

#142 deps: update dependencies
  Cargo.lock
  deny.toml
  model/Cargo.toml
  raidprotect/Cargo.toml
  web/Cargo.toml
Labels: c-dependencies

#143 chore: update translations
  raidprotect/locales/en.json
  raidprotect/locales/fr.json
Labels: t-chore, c-translations

#141 feat: captcha verification buttons
  Cargo.lock
  model/src/cache/http.rs
  model/src/cache/model/interaction.rs
  model/src/cache/redis.rs
  model/src/serde.rs
  raidprotect/Cargo.toml
  raidprotect/locales/fr.json
  raidprotect/src/event/captcha/member_add.rs
  raidprotect/src/event/captcha/mod.rs
  raidprotect/src/event/mod.rs
  raidprotect/src/event/process.rs
  raidprotect/src/feature/captcha.rs
  raidprotect/src/feature/mod.rs
  raidprotect/src/interaction/component/captcha/mod.rs
  raidprotect/src/interaction/component/captcha/verify.rs
  raidprotect/src/interaction/embed/captcha.rs
  raidprotect/src/interaction/handle.rs
  raidprotect/src/main.rs
Labels: c-dependencies, t-feature, c-cache, c-interaction, c-translations, c-event

#144 refactor(cache): flatten channel model
  model/src/cache/model/channel.rs
  model/src/cache/model/mod.rs
  model/src/cache/permission.rs
  model/src/cache/process/resource.rs
  model/src/config.rs
  model/src/lib.rs
  raidprotect/src/interaction/component/captcha/enable.rs
  raidprotect/src/util/logs_channel.rs
Labels: t-refactor, c-cache, c-interaction
