Repository raidprotect/raidprotect, pull requests merged in 2022-07, with the labels that each got.

#107 feat(web): initial api server
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  model/src/config.rs
  raidprotect/src/cluster.rs
  raidprotect/src/main.rs
  web/Cargo.toml
  web/src/main.rs
Labels: c-dependencies, t-feature

#109 deps: use webpki instead of native tls certs
  Cargo.lock
  model/Cargo.toml
  raidprotect/Cargo.toml
Labels: c-dependencies

#110 deps: upgade to twilight 0.12
  Cargo.lock
  Cargo.toml
  deny.toml
  model/Cargo.toml
  raidprotect/Cargo.toml
  web/Cargo.toml
Labels: c-dependencies

#111 refactor(cache): remove zstd compression
  Cargo.lock
  model/Cargo.toml
  model/src/cache/redis.rs
Labels: c-dependencies, t-refactor, c-cache

#114 feat: captcha generation
  Cargo.lock
  Cargo.toml
  captcha/Cargo.toml
  captcha/benches/generation.rs
  captcha/include/FreeMonoBold.ttf
  captcha/src/bin/cli.rs
  captcha/src/code.rs
  captcha/src/lib.rs
  deny.toml
  web/Cargo.toml
Labels: c-dependencies, t-feature

#115 deps: use zlib compression with mongodb
  Cargo.lock
  model/Cargo.toml
  model/src/mongodb/client.rs
Labels: c-dependencies

#117 deps: upgrade to twilight 0.12.1
  Cargo.lock
  captcha/Cargo.toml
  model/Cargo.toml
  raidprotect/Cargo.toml
  web/Cargo.toml
Labels: c-dependencies

#116 feat: translate according to the user language
  raidprotect/build.rs
  raidprotect/locales/en.json
  raidprotect/locales/fr.json
  raidprotect/src/interaction/command/moderation/kick.rs
  raidprotect/src/interaction/command/profile.rs
  raidprotect/src/interaction/component/post_in_chat.rs
  raidprotect/src/interaction/embed/error.rs
  raidprotect/src/interaction/embed/kick.rs
  raidprotect/src/interaction/handle.rs
  raidprotect/src/interaction/util.rs
  raidprotect/src/main.rs
  raidprotect/src/util/logs_channel.rs
Labels: t-feature, c-interaction, c-translations

#118 feat(model): captcha configuration
  model/src/mongodb/guild.rs
  model/tests/guild.rs
Labels: t-feature, c-model

#121 refactor: flatten configuration model
  model/src/mongodb/guild.rs
  model/tests/guild.rs
  raidprotect/src/interaction/command/moderation/kick.rs
  raidprotect/src/util/logs_channel.rs
Labels: t-refactor, c-interaction

#123 feat: guild lang config
  model/src/mongodb/guild.rs
  model/tests/guild.rs
  raidprotect/src/interaction/component/post_in_chat.rs
  raidprotect/src/interaction/handle.rs
  raidprotect/src/util/logs_channel.rs
Labels: t-feature, c-interaction

#124 fix: json indent size
  .vscode/settings.json
  raidprotect/locales/en.json
  raidprotect/locales/fr.json
Labels: t-fix, c-translations

#126 feat(localization): commands description localization
  raidprotect/locales/en.json
  raidprotect/locales/fr.json
  raidprotect/src/interaction/command/help.rs
  raidprotect/src/interaction/command/moderation/kick.rs
  raidprotect/src/interaction/command/profile.rs
  raidprotect/src/interaction/util.rs
Labels: t-feature, c-interaction, c-translations

#129 refactor(interaction): component handling
  Cargo.lock
  model/src/cache/model/interaction.rs
  raidprotect/Cargo.toml
  raidprotect/src/interaction/command/moderation/kick.rs
  raidprotect/src/interaction/command/profile.rs
  raidprotect/src/interaction/component/post_in_chat.rs
  raidprotect/src/interaction/handle.rs
  raidprotect/src/interaction/util.rs
Labels: c-dependencies, t-refactor, c-cache, c-interaction
